In [1]:
import math
math.radians(30)

0.5235987755982988

In [3]:
#Student data
#print student date where name is Shreya, age is 24. language is python

def student_name():
    print("Name : Shreya")
student_name()

Name : Shreya

In [4]:
def student_age():
    print("Age : 24")
student_age()

Age : 24

In [6]:
def student_language():
    print("Language : Python")
student_language()

Language : Python

In [7]:
student_name()
student_age()
student_language()

Name : Shreya
Age : 24
Language : Python

In [8]:
def student_data():
    student_name()
    student_age()
    student_language()
student_data()

Name : Shreya
Age : 24
Language : Python

In [9]:
student_data()

Name : Shreya
Age : 24
Language : Python

In [10]:
def student_firstname():
    print("Name : Shreya")
def student_lastname():
    print("Lastname : Adla")
def student_name():
    student_firstname()
    student_lastname()
student_name()

Name : Shreya
Lastname : Adla

In [11]:
student_data()

Name : Shreya
Lastname : Adla
Age : 24
Language : Python

In [12]:
def square_num(number):
    square=number**2
    print(square)
square_num(2)

4

In [13]:
def area_rectangle(length,breadth):
    area =  length * breadth
    print(area)
area_rectangle(2,4)

8

In [14]:
l = 2
b = 4
area_rectangle(l,b)

8

In [54]:
#student data with parameter...we will give i/p
def student_data(firstname,lastname,age,language):
    student_firstname(firstname)
    student_lastname(lastname)
    student_age(age)
    student_language(language)

def student_firstname(first):
    print("Name : " + first)
def student_lastname(last):
    print("Lastname : " + last)
def student_age(age):
    print("Age : " + str(age))
def student_language(lang):
    print("Language : " + lang)

first = "Shreya"
last = "Adla"
age = 24
lang = "python"
student_data(first,last,age,lang)

Name : Shreya
Lastname : Adla
Age : 24
Language : python

In [56]:
def square(n):
    square = n * n
    return square

number = 2
square(number)

4

In [57]:
print(square(9))

81

In [59]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).