****WHILE LOOP*****

In [1]:
# print numbers frm 10 to 1

In [3]:
n = 10
print("...before loop....")
print("n:",n)

while n>0:
    print(n)
    n = n-1

print(".....after loop....")
print("n:",n)

...before loop....
n: 10
10
9
8
7
6
5
4
3
2
1
.....after loop....
n: 0

In [8]:
#Lets find squares of odd numbers frm  1 to 20
x = 1

while x <= 20:
    if x % 2 == 1:
        print("square of {0} is {1}" .format(x , x**2))
    x = x + 1

square of 1 is 1
square of 3 is 9
square of 5 is 25
square of 7 is 49
square of 9 is 81
square of 11 is 121
square of 13 is 169
square of 15 is 225
square of 17 is 289
square of 19 is 361

In [13]:
#Lets find sum of even numbers from 1 to 10
k = 1
summation = 0
while k <= 10 :
    if k % 2 == 0:
        summation = k + summation
      #  print(summation)
    k = k +1

print(summation)

30

In [15]:
#Find the factors of a given number
number = int(input("Please enter a number: "))
i = 2
while i < number:
    if number % i == 0:
        print(i)

    i = i + 1

Please enter a number:  42

2
3
6
7
14
21

In [ ]:
number = int(input("Please enter a number: "))
i = 2
while i < number:
    if number % i == 0:
        print

*********FOR LOOP*************

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
#print numbers from 1 to 10:step size 2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [18]:
#print numbers from 5 upto 30(included):step size:3
for i in range(5,31,3):
    print(i)

5
8
11
14
17
20
23
26
29

In [23]:
#find all factors of a given number
number = int(input("Please enter a number: "))
for x in range(2,number):
    if  number % x == 0:
        print(x)

Please enter a number:  24

2
3
4
6
8
12

In [3]:
text = "Python"
for letter in text:
    print(letter)

P
y
t
h
o
n

In [5]:
user_input = input("Please enter a text")
new_input = " "

for letter in user_input:
    new_input = new_input + letter + "-"

print(new_input)

Please enter a text shreya

 s-h-r-e-y-a-

In [16]:
user_input = input("Please enter a text")
new_input = " "

for index,letter in enumerate(user_input):
    
    new_input = new_input + letter 
        
    if index < len(user_input) - 1:
        new_input = new_input + "-"
print(new_input)

Please enter a text shreya

 s-h-r-e-y-a

In [17]:
#start from 10 and print upto 100(incl) by step size : 5

#find in index od 5


for i in range(10,101,5):
    print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [20]:
number_range = range(10,101,5)
for index,number in enumerate(number_range):
    if index == 5:
        print(number)

35

In [21]:
####NESTED LOOPS############

In [22]:
#Draw a square of starts on a screen
#3 stars on row 3 stars on column

In [23]:
#WHILE LOOP

In [25]:
i = 0
#rows
while i < 3:
    stars = ""

    #columns
    j = 0
    while j <3:
        stars = stars + "* "
        j = j+1

    print(stars)
    i = i+1

* * *
* * *
* * *

In [26]:
## FOR LOOP

In [27]:
for i in range(3):
    stars = ""

    #columns
    for j in range(3):
        stars = stars + "* "

    print(stars)

* * *
* * *
* * *

In [28]:
##break

text = input("Please enter a atext: ")

for character in text:
    if character == " ":
        break

    print(character)

Please enter a atext:  sdg hjk

s
d
g

In [29]:
#Start from 30 upto 100 and print numbers
#if number is multiple of 11 then break

In [30]:
for i in range(30,101):
    if i % 11 == 0:
        print(i)
        break
    else:
        print(i)

30
31
32
33

In [31]:
  #we want to print even numbers from 1 to 10

for i in range(1,11):
    if i % 2 == 1:
        continue

    print(i)

2
4
6
8
10

In [35]:
# print letters in a string : if we encounter space character we will skip
# we will printb all charcaters we will not print space

text = input("Please enter a string: ")
for character in text:
    if character == " ":
        continue

    print(character)

Please enter a string:  python machine learning

p
y
t
h
o
n
m
a
c
h
i
n
e
l
e
a
r
n
i
n
g

In [36]:
## FOR ELSE

In [37]:
#print numbers from 2 to 10 
#if number is 7, exit the loop(break)
#if the loop executes successfully we will print: "Loop executed succesfully"

In [42]:
for i in range(2,10):
    print(i)
    if i % 7 == 0:
        break

else:
    print("Loop executed succesfully")

2
3
4
5
6
7

In [43]:
for i in range(2,10):
    print(i)
    if i %  17 == 0:
        break

else:
    print("Loop executed succesfully")

2
3
4
5
6
7
8
9
Loop executed succesfully